# ignore source TypeScript files
src/
tsconfig.json

# ignore tests and examples
test/
*.test.tsx
*.test.ts
*.spec.ts
*.spec.tsx
example/
examples/
__tests__/

# ignore dev tools and configs
.vscode/
node_modules/
*.log
coverage/
.nyc_output/
dist/*.map

# ignore system files
.DS_Store
